@page "/faculties/create"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

<h3>Crear Facultad</h3>

<FacultyForm @ref="facultyForm" Faculty="faculty" OnValidSubmit="Create" ReturnAction="Return" />

@code {
    private Faculty faculty = new();
    private FacultyForm? facultyForm;

    private async Task Create()
    {
        var httpResponse = await repository.Post("api/faculties", faculty);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.GetErrorMessageAsync();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            facultyForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("faculties");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("/");
    }
}